body{
  font-size: 62.5%;
  font-weight: normal;
  font-style: normal;
}
.navbar-header{
	background-color: #242a34;
}
.navbar-toggle{
    position: relative; 
    float: right; 
    padding: 15px  0 0 0 0 ;
    margin-top: 1.3em;
     margin-right: 15px;
     margin-bottom: 8px; 
     background-color: transparent; 
    background-image: none; 
    border: 1px solid transparent;
    border-radius: 4px;
}
}
.zzh img {  padding-left: 1em}
.navbar{ border: 0px}