*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
	font-size: 1em;
}
body{
	font-size: 62.5%;
	font-weight: normal;
	font-style: normal;
}
a{
	text-decoration: none;
}
ul{
	list-style: none;
}
.clearfix:before,
.clearfix:after{
content: " ";
display: table;
clear: both; /*http://haoduoshipin.com/v/166*/
}
.nav{
  
    width: 100%;
    height: 6.25em;
    background: #242a34;
  border-bottom: 1px solid ;
    transition: all 1s;
}
.nav img{  
	padding-left: 0.5em;
 padding-top: 0.8em;
 float: left;
 
} 
.nav .icon-shopping-cart{    position: absolute;
  margin-top: 2em;
  margin-left:7em;
    color: #595c62;

 }
.nav .icon-align-justify{    position: absolute;
  margin-top: 2.2em;
  margin-left:11em;
    color: #595c62;

 }
.zzh{ width: 100%;display:none;
 background-color: #242a34;
}
.zzh.xs{ padding-top: 8em}


.banner{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 11.5em;
    
}
.banner .tupian{
    width: 500%;
    position: absolute;

}
.num{ 
    position:absolute;
    z-index:222; 
    list-style:none; 
right: 75px;
    bottom:0px;
}
.num li{ 
    float:left; 
    width:36px; 
    height:6px; 
    border: 1px solid; 
    text-align:center; 
    line-height:20px; 
    margin-right:5px; 
    background:#aeabab; 
    color:#000;
    }