*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
	font-size: 1em;
}
body{
	font-size: 62.5%;
	font-weight: normal;
	font-style: normal;
}
a{
	text-decoration: none;
}
ul{
	list-style: none;
}
.clearfix:before,
.clearfix:after{
content: " ";
display: table;
clear: both; /*http://haoduoshipin.com/v/166*/
}
.nav{
  
    width: 100%;
    height: 6.25em;
    background: #242a34;
  border-bottom: 1px solid ;
    transition: all 1s;
}
.nav img{  
	padding-left: 0.5em;
 padding-top: 0.8em;
 float: left;
 
} 
.nav .icon-shopping-cart{    position: absolute;
  margin-top: 2em;
  margin-left:7em;
    color: #595c62;

 }
.nav .icon-align-justify{    position: absolute;
  margin-top: 2.2em;
  margin-left:11em;
    color: #595c62;

 }
.zzh{ width: 100%;display:none;
 background-color: #242a34;
}
.zzh.xs{ padding-top: 8em}


.banner{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 11.5em;
    
}
.banner .tupian{
    width: 500%;
    position: absolute;

}
.num{ 
    position:absolute;
    z-index:222; 
    list-style:none; 
right: 75px;
    bottom:5px;
}
.num li{ 
    float:left; 
    width:36px; 
    height:6px; 
    border: 1px solid; 
    text-align:center; 
    line-height:20px; 
    margin-right:5px; 
    background:#aeabab; 
    color:#000;

    }
    .main{

  
    width: 100%;
    }
    .main .l{
    width:25.5em;
    height: 3em;
     background:#1d1c1c;
margin: 0.83333em 0 0  0.55em;

    }
    .main .l p{
    font-size:1.5em; 
    color: #ffffff; 
    padding: 8px 10px;
     display: inline-block;
    }
     .main .l a{ float: right; 
    font-size:1.2em;
    color: #ffffff; 
    padding: 15px 5px 8px ;

     }
.lettle{
  height: 3em;
  background-color: red; 
  opacity: 0.5; 
  position: absolute;
  z-index:1;
  width: 46.875%;
  bottom: -30%;
  left: 0;
  transition:all 0.5s;
    
}
.mainleft img{
    position: absolute;
    z-index:-1;
}
 .mainleft{ 
 overflow: hidden;
 width: 100%;
 height: 10.5em;
    position: relative; 
    float: left;
    margin: 0.5em 0 0 0.5em;
    
 } 

.mainleft:hover .lettle{
    bottom: 0%;
}
 .main .mainright{ 
 float: right;

padding: 0.5em 0.5em 0 0 ;


 }
