*{ margin:0; padding:0; font-family:Microsoft YaHei;}
.clearfix:before,
.clearfix:after{
content: " ";
display: table;
clear: both; /*http://haoduoshipin.com/v/166*/
}
h3{ font-size:20px; font-weight:100}
li{ list-style:none
 }
body{
	font-size: 62.5%;
	font-family:"微软雅黑";
	
}
a{ text-decoration:none;}

 #sj h6 { font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
	margin-top:1.53em;
	 margin-right:2.555em ;
	 font-size:2em
	}
	#sj h3{ 
	font-size: 3em;
	font-weight: 500;
	margin:0.6em 0 0 1em;
	}
	#sj{ width:100%;
	
	 }
	.pro{ border:solid 1px #CCCCCC;
	width:1366px;
		height:28.8em;
		margin-bottom:1em;

		}
	 
.note3{ float: left; height:28.166666666em;}


.pro6{ float:left;
 width:19%;
 text-align:center;
 margin-top:1.5em}
.pro6 .h{ color:#F20000; text-align:center}
.pro6 a{color: #F20000;}
.pro6 .m{ text-align:center; margin:0.5em}
.pro6 p{ text-align:center;
 margin:0.5em;
 font-size:1.88em
 
 
 }

#sj p{ display:inline-block; margin:1.5em}





.jingxuan{
	width:100%;
		margin-bottom:1em;
		height:28.8em;
		border: solid 1px #CCCCCC;
		}





.ep{ float: left;  }

.cdb{float:left;
 width:19%;
 text-align:center;
 margin-top:2em;
 height:28.8em;
 }






.cdb .j{ color:#F20000; text-align:center}
		
.cdb .b{ text-align:center; margin:0.5em}
.cdb p{ text-align:center; 
margin:0.5em;
font-size:1.9em
}

#cdb p{ display:inline-block; margin:1.5em}


.peijian{ height:28.8em

}



#bottom{
	width:100%;
	background: #F3F3F3;
	border:solid 1px  #CCCCCC;
	
	
	}
	
	
.b1{ width:20%; text-align:center; margin-top:3em; margin-bottom:1em; float:left }

.b1 p{ padding-top:1em}

.b1 a{  font-size:1.88em}


#bottom2{ width:100%; background: #F3F3F3;  }
.qi{ width:20%; padding:2em; float:left}
.bang{    font-size:3em; }
.qi li{     line-height:25px; text-align: center}


.pro6 img{ transition: 0.2s all ease}
.pro6 img:hover{
	transform-origin:50% 50%;
	transform:scale(1.1111);

	}
	
	.cdb img{ transition: 0.3s all ease}
.cdb img:hover{
	transform-origin:50% 50%;
	transform:scale(1.1111);

	}
	#sj a{color:#000 }
	#sj a:hover{     color: #32a5e7;
    display: inline-block;
    text-decoration: none;
    transition: color .2s linear; }
	
	.j a{color: #F20000;}
	 .qi a{color:#000; font-size:1.88em}
	 .navbar-nav a{ font-size:2.3em}
	 