@charset "utf-8";
/* CSS Document */
*{ margin:0px; padding:0px;}
.top{ width:100%; border-bottom: solid 1px #CCCCCC}
.logo{ text-align: center;
 padding:0.855em;}
 .gg{padding: 100px 0; border:solid 1px #CCCCCC;
 }
 .login{ text-align:center;
 
 
 font-size:1.2rem;
 font-family:"Myriad Pro",Arial,FZLanTingHei-R-GBK,方正兰亭黑,"Microsoft YaHei",微软雅黑,STHeiti,华文黑体,SimSun,宋体,sans-serif}
 .field input{ border: 1px solid #ccc;
 width:100%;
    padding: 23px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    outline: 0;
    background: #FFF;
	
	}
	.field .instructions {
    color: #ccc;
    font-size: 14px;
    font-size: .875rem;
    margin: 20px 0 0;
}

.button {background: #2aad6f;
   
}

