*{ margin:0; padding:0; font-family:Microsoft YaHei;}
.clearfix:before,
.clearfix:after{
content: " ";
display: table;
clear: both; /*http://haoduoshipin.com/v/166*/
}

li{ list-style:none
 }
body{
	font-size: 62.5%;
	font-family:"微软雅黑";
	
}



.section img {
    display: block;
    width: 100%;
	border-bottom:1px #CCCCCC solid 
}
.section-title {    font-size: 1.8rem;
   
    line-height: 1.6;
    color: #787878;
    padding-left: 1.6rem;}
	.main2{ width:100%}
.accessory-list  li { 
    position: relative;
    float: left;
    width: 50%;
    overflow: hidden;
    text-align: center;
	border:solid
	#CCC
    1px;
    padding-bottom: 2rem;
	}

	.accessory-list{padding-left:0px;
	
      }
	.accessory-section .accessory-list {
    width: 100%;
    overflow: hidden;
    background-color: #fff;
}
li img {
    width: 58%;
    margin: 0 auto 1rem;
}
li{list-style-type:none;}
 .item-price {
    margin-top: 10px;
    color: #21c1f1;
}

.accessory-list  li { 
      position: relative;
    float: left;
    width: 50%;
    overflow: hidden;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
	
	}
	.nav-section {
    background-color: #fff;
    border-bottom: #ececec 1px solid;
}
.nav-section .subNav {
    padding: 2rem 0;
}
.nav-section .flex-item {
    width: 50%;
    float: left;
}
.nav-section .flex-item .nav-item {
    display: block;
    font-size: 1.5rem;
    padding: 6% 20%;
    color: #555;
}

.nav-section .subNav {
    padding: 2rem 0;
}
.row {
    zoom: 1;
}
.nav-section .nav-icon, .nav-section .nav-text {
    display: inline-block;
    vertical-align: middle;
}
.nav-section .nav-icon {
    width: 20%;
    margin-right: 5%;
}
	
	
	.footer {
    color: #aaa;
  
    padding: 0 0 5%;
    background-color: #fff;
	margin-bottom:1em;
	  
}
	
	
	
	.footmain h1 {
    font-size: 1.4rem;
    text-align: center;
}
	
	.footter{    width:100%;
    margin: 20px auto 0;}
	
	
	
	.footter .share-item{
    float: left;
    width: 25%;
    padding: 0 4%;}
	
	
.footter .share-item	   { position: relative;

}
	  
.footter .share-item .pop {
    display: none;
    position: absolute;
    text-align: center;
    width: 180px;
    height: 80px;
    margin-left: -88px;
    background-size: 180px 80px;
    background-image: url(http://m2.res.meizu.com/static/cn/index/images/pop_48a7138.png);
    top: -80px;
    left: 50%;}
	
.footter .social-section .pop h2 {
    font-size: 1.2rem;
    color: #333;
    margin-top: 1.4rem;
}
.foottrer .pop p {
    font-size: 1.6rem;
    color: #00c4f9;
    margin-top: .6rem;
}
#weixin:hover{display: block}

body{}

.box{ width:1366px; margin:0 auto}

@media ( min-width:768px){
	
.section { display: none
 
}
.main2{display: none}


.footer{ display:none}
	.box{ width:1366px; }




}
@media (max-width:768px){
	#sj{ display:none}	
.pro {display: none; }
.jingxuan{ display:none}
.peijian { display:none}	
#bottom{ display:none}	
#bottom2{ display:none}	
.box{ width:1366px;  }

}


