*{ margin:0; padding:0}
body{
	font-size: 62.5%;
	
}
.clearfix:before,
.clearfix:after{
	content: " "; 
	display: table;
	clear: both;
}
li{ list-style:none}
a{ text-decoration:none;
color:#000}

















@media screen and (max-width:600px){
	
	
	.catetory h3:{ font-size:24px}
	.zzh{ font-size:24px;}
	

	}
	
	
	
@media screen and (max-width: 768px){


.header{text-align:center;
		width: 100%;
		border-bottom: solid 1px #eee;
		background:#FFF
	}



.top{

float: left;
padding:1.666666em;
}
.top img{ width:1.6666em;
height:1.66666em;

}

.header .bt{
	width:100px;
	margin: 0 auto;
	padding-top:1.66666em
}
    .maincon{
    	width: 100%;
    	
    }
    .catetory{ background:#ffffff;
	margin:1em
     }
	 body{ background:#DFDFDF}

.catetory h3{font-style: normal;
    font-size:18px;
    float: left;
    
    padding-left: 1em;
    line-height:74px;
    display: inline-block;
}


.zzh{
	font-size: 14px;
    float: right;
    line-height: 74px;
    padding: 0 0.33333rem


}

.catetory li{ float:left;
width:33%;}
.catetory ul li img{ width:100%;
text-align:center}
.catetory ul li p{
font-size:18px;
   
    padding: 0 5px;
    height: 28px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	text-align:center
	}


}


@media screen and (min-width: 768px){



}