@media( min-width:768px){

*{margin: 0;padding: 0;font-family: "微软雅黑";text-decoration: none;}
.swiper-slide .slide_link{display: block;}
.swiper-slide .slide_link .slide_img{width: 100%;vertical-align: middle;}


.pinpai{width: 97%;margin: 10px auto 0;font-size: 0.75rem;}
.xs_zy{background: #e73523;font-size: 0.75rem;color: #fff;padding: 0px 4px;border-radius: 2px;margin-left: 1.5%;}
.cansu{font-size: 0.7rem;color: #e73523;width: 97%;margin: 5px auto 0;}
.soujia{width: 97%;margin: 10px auto 0;border-bottom: 1px solid #f4f4f4;padding-bottom: 15px;}
.soujia span{color: #FF3000;font-weight: 700;}
.soujia a{color: #a0a0a0;font-size: 0.7rem;border: 1px solid #a0a0a0;padding: 3px 10px;border-radius: 4px;float: right;}
.selected{width: 97%;margin: 0 auto;}
.selected:after{content: "";display: block;clear: both;}
.yxcs{width: 86%;font-size: 0.7rem;float: left;line-height: 25px;margin-top: 20px;}
.yxcs span{color: #b2b4b3;margin-right: 10px;}
.s_more{width: 10%;float: right;height: 10px;margin-top: 18px;}
.s_more img{width: 100%;}
.slide_right{width:100%;position: absolute;left: 100%;top: 0px;z-index: 100;background: rgba(0,0,0,0.5);opacity: 0;display: none;}
.slide_box{width:85%;background: #fff;overflow: auto;float: right;height: 100%;position: relative;}
.slide_nr{width:100%;background: #fff;overflow: auto;float: right;height: 100%;}
.slide_bot{width: 100%;height: 50px;background: rgba(241,81,79,0.8);position: fixed;bottom: 0;left: 100%;z-index: 101;position: absolute;right: 0;bottom: 0;}
.slide_bot p{color: #fff;font-size: 1.3rem;line-height: 50px;text-align: center;}
.o-n{width:100%;height: 100%;overflow: hidden;}
.sl_sp:after{content: "";display: block;clear: both;}
.sl_sp{border-bottom: 1px solid #e1e1e1 ;padding-bottom: 15px;}
.sl_pic{display:block;width: 30%;padding: 2px;border: 1px solid #e1e1e1;margin: 10px 0 0 1.5%;float: left;border-radius: 5px;}
.sl_pic img{width: 100%;vertical-align: middle;}
.sl_jg{width: 60%;float: left;font-size: 0.7rem;margin: 10px 0 0px 3%;}
.sl_price{color: #FF3300;font-weight: 800;font-size: 0.9rem;margin-bottom: 15px;}
.sl_bh{color: #ababab;}
.sl_ys{width:94%;font-size: 0.75rem;color: #a0a0a0; margin:0.8em}
.sl_ys a{ text-align:center; line-height:35px}
.sl_ys:after{content: "";display: block;clear: both;}
.mark{border: 1px solid #e1e1e1;display: inline-block;border-radius: 5px; width:85px; height:40px; margin:0.5em;
font-size:1.533em;

}

.sub,.add{border: 1px solid #e1e1e1;display: inline-block;font-size: 1rem; padding:2px 10px 2px 10px}
.sl_ti{margin-right: 2%;display: inline-block;float: left;margin-top: 1em; }
.sl_ys p{width:79%;float: left; }
.suliang{display: inline-block;border: 1px solid #e1e1e1;outline: none;text-align: center;width: 20%;padding: 2px 3%;font-size: 1rem;}
.xz_sl{ margin-top:0.2em}
.sl_ys_box2{ width:40%; float:left;
margin-left:1em


}

.left{ margin-left:0.5em}
.sl{margin-right: 2%;display: inline-block;float: left; }

.selected{height:1px}
.lol{ margin:0px;}




.zzh{ display:none}




.gm_main_o{display: block;}
.tab_img{display: block;width: 100%;}
.tab_img img{width: 100%;vertical-align: middle;}
.gm_table{border: 1px solid #666;width: 100%;margin-bottom: 20px;

}
.gm_table td{border: 1px solid #666;}
.gm_table tr{line-height: 20px;}
.gm_table .til{height: 35px;font-size: 1rem;font-weight: bold;text-indent: 20px; }
.td_left{text-align: center;width: 30%;}
.td_right{padding:0 10px 0 5px;width:70%;}
.zp{margin-bottom: 30px;}
.souhou{margin-bottom: 60px;}
.sel{border-bottom: 1px solid #FF3000;}
.sel a{color: #f00 ;}
.fade{position:fixed;left:0;top:0;background: #fff;z-index: 1000;}
.gwc{height: 50px;position: fixed;bottom: 0;left: 0;width: 100%;}
.gwc_left{width: 40%;background: rgba(0,0,0,0.8);float: left;height: 50px;}
.gwc_right{width: 60%;float: left;height: 50px;}
.gwc_right a{display: block;height: 50px;line-height: 50px;text-align: center;width: 100%;font-size: 0.9rem;color: #fff;}
.jr{width: 50%;float: left;background: #ffaf3f;height: 50px;}
.lj{width: 50%;float: left;background: #f15352;height: 50px;}
.gwc_left a{width: 30%;display: inline-block;font-size: 0.6rem;color: #fff;text-align: center;}
.gwc_left a img{display:inline-block;width: 70%;margin: 0 auto;vertical-align: middle;}



.main_tab{ display: none}


.gm{border-radius: 3px; 

width:130px;
height:40px;
background:#eb3c3f;
text-align:center;
margin: 0.8em;
}

.gm a { line-height:40px;  font-weight: bold;  color:#CCC}
.site-topbar{ width:100%; height:3em;    font-family: "微软雅黑","Microsoft Yahei",Arial,Helvetica,sans-serif,"宋体"}


.site-topbar a{ 
	line-height: 3em;
	font-size:1.2rem;
	    padding:0px 2.555em 0px 1.5em;
	
	
	}

 .site-topbar a:hover{
    
    color:#32a5e7;
  
  
    display: inline-block;
    text-decoration: none;
	transition: color .2s linear;
   }
.top{ float:right}


#bottom{
	width:100%;
	background: #F3F3F3;
	border:solid 1px  #CCCCCC;
	
	
	}
	
	
.b1{ width:20%; text-align:center; margin-top:3em; margin-bottom:1em; float:left }

.b1 p{ padding-top:1em}




#bottom2{ width:100%; background: #F3F3F3;  }
.qi{ width:20%; padding:2em; float:left}
.bang{    font-size:1.5em; }
.qi li{     line-height:25px; text-align: center}


.pro6 img{ transition: 0.2s all ease}
.pro6 img:hover{
	transform-origin:50% 50%;
	transform:scale(1.1111);

	}
	
	.cdb img{ transition: 0.3s all ease}
.cdb img:hover{
	transform-origin:50% 50%;
	transform:scale(1.1111);

	}
	



}

@media( min-width:768px){

*{margin: 0;padding: 0;font-family: "微软雅黑";text-decoration: none;}
.swiper-slide .slide_link{display: block;}
.swiper-slide .slide_link .slide_img{width: 100%;vertical-align: middle;}


.pinpai{width: 97%;margin: 10px auto 0;font-size: 0.75rem;}
.xs_zy{background: #e73523;font-size: 0.75rem;color: #fff;padding: 0px 4px;border-radius: 2px;margin-left: 1.5%;}
.cansu{font-size: 0.7rem;color: #e73523;width: 97%;margin: 5px auto 0;}
.soujia{width: 97%;margin: 10px auto 0;border-bottom: 1px solid #f4f4f4;padding-bottom: 15px;}
.soujia span{color: #FF3000;font-weight: 700;}
.soujia a{color: #a0a0a0;font-size: 0.7rem;border: 1px solid #a0a0a0;padding: 3px 10px;border-radius: 4px;float: right;}
.selected{width: 97%;margin: 0 auto;}
.selected:after{content: "";display: block;clear: both;}
.yxcs{width: 86%;font-size: 0.7rem;float: left;line-height: 25px;margin-top: 20px;}
.yxcs span{color: #b2b4b3;margin-right: 10px;}
.s_more{width: 10%;float: right;height: 10px;margin-top: 18px;}
.s_more img{width: 100%;}
.slide_right{width:100%;position: absolute;left: 100%;top: 0px;z-index: 100;background: rgba(0,0,0,0.5);opacity: 0;display: none;}
.slide_box{width:85%;background: #fff;overflow: auto;float: right;height: 100%;position: relative;}
.slide_nr{width:100%;background: #fff;overflow: auto;float: right;height: 100%;}
.slide_bot{width: 100%;height: 50px;background: rgba(241,81,79,0.8);position: fixed;bottom: 0;left: 100%;z-index: 101;position: absolute;right: 0;bottom: 0;}
.slide_bot p{color: #fff;font-size: 1.3rem;line-height: 50px;text-align: center;}
.o-n{width:100%;height: 100%;overflow: hidden;}
.sl_sp:after{content: "";display: block;clear: both;}
.sl_sp{border-bottom: 1px solid #e1e1e1 ;padding-bottom: 15px;}
.sl_pic{display:block;width: 30%;padding: 2px;border: 1px solid #e1e1e1;margin: 10px 0 0 1.5%;float: left;border-radius: 5px;}
.sl_pic img{width: 100%;vertical-align: middle;}
.sl_jg{width: 60%;float: left;font-size: 0.7rem;margin: 10px 0 0px 3%;}
.sl_price{color: #FF3300;font-weight: 800;font-size: 0.9rem;margin-bottom: 15px;}
.sl_bh{color: #ababab;}
.sl_ys{width:94%;font-size: 0.75rem;color: #a0a0a0; margin:0.8em}
.sl_ys a{ text-align:center; line-height:30px}
.sl_ys:after{content: "";display: block;clear: both;}
.mark{border: 1px solid #e1e1e1;display: inline-block;border-radius: 5px; width:85px; height:40px; margin:0.5em;
font-size:1.533em;

}

.sub,.add{border: 1px solid #e1e1e1;display: inline-block;font-size: 1rem; padding:2px 10px 2px 10px}
.sl_ti{margin-right: 2%;display: inline-block;float: left;margin-top: 1em; }
.sl_ys p{width:79%;float: left; }
.suliang{display: inline-block;border: 1px solid #e1e1e1;outline: none;text-align: center;width: 20%;padding: 2px 3%;font-size: 1rem;}
.xz_sl{ margin-top:0.2em}
.sl_ys_box2{ width:40%; float:left;
margin-left:1em


}

.left{ margin-left:0.5em}
.sl{margin-right: 2%;display: inline-block;float: left; }

.selected{height:1px}
.lol{ margin:0px;}




.zzh{ display:none}




.gm_main_o{display: block;}
.tab_img{display: block;width: 100%;}
.tab_img img{width: 100%;vertical-align: middle;}
.gm_table{border: 1px solid #666;width: 100%;margin-bottom: 20px;

}
.gm_table td{border: 1px solid #666;}
.gm_table tr{line-height: 20px;}
.gm_table .til{height: 35px;font-size: 1rem;font-weight: bold;text-indent: 20px; }
.td_left{text-align: center;width: 30%;}
.td_right{padding:0 10px 0 5px;width:70%;}
.zp{margin-bottom: 30px;}
.souhou{margin-bottom: 60px;}
.sel{border-bottom: 1px solid #FF3000;}
.sel a{color: #f00 ;}
.fade{position:fixed;left:0;top:0;background: #fff;z-index: 1000;}
.gwc{height: 50px;position: fixed;bottom: 0;left: 0;width: 100%;}
.gwc_left{width: 40%;background: rgba(0,0,0,0.8);float: left;height: 50px;}
.gwc_right{width: 60%;float: left;height: 50px;}
.gwc_right a{display: block;height: 50px;line-height: 50px;text-align: center;width: 100%;font-size: 0.9rem;color: #fff;}
.jr{width: 50%;float: left;background: #ffaf3f;height: 50px;}
.lj{width: 50%;float: left;background: #f15352;height: 50px;}
.gwc_left a{width: 30%;display: inline-block;font-size: 0.6rem;color: #fff;text-align: center;}
.gwc_left a img{display:inline-block;width: 70%;margin: 0 auto;vertical-align: middle;}



.main_tab{ display: none}


.gm{border-radius: 3px; 

width:130px;
height:40px;
background:#eb3c3f;
text-align:center;
margin: 0.8em;
}

.gm a { line-height:40px;  font-weight: bold;  color:#CCC}
.site-topbar{ width:100%; height:3em;    font-family: "微软雅黑","Microsoft Yahei",Arial,Helvetica,sans-serif,"宋体"}


.site-topbar a{ 
	line-height: 3em;
	font-size:1.2rem;
	    padding:0px 2.555em 0px 1.5em;
	
	
	}
	

 .site-topbar a:hover{
    
    color:#32a5e7;
  
  
    display: inline-block;
    text-decoration: none;
	transition: color .2s linear;
   }
.top{ float:right}


#bottom{
	width:100%;
	background: #F3F3F3;
	border:solid 1px  #CCCCCC;
	
	
	}
	
	
.b1{ width:20%; text-align:center; margin-top:3em; margin-bottom:1em; float:left }

.b1 p{ padding-top:1em}




#bottom2{ width:100%; background: #F3F3F3;  }
.qi{ width:20%; padding:2em; float:left}
.bang{    font-size:1.5em; }
.qi li{     line-height:25px; text-align: center}


.pro6 img{ transition: 0.2s all ease}
.pro6 img:hover{
	transform-origin:50% 50%;
	transform:scale(1.1111);

	}
	
	.cdb img{ transition: 0.3s all ease}
.cdb img:hover{
	transform-origin:50% 50%;
	transform:scale(1.1111);

	}
	



}
.left{ margin:0.9em 0 0.5em 1em;width:18px; float:left; }
.left img{ height:21px; width:21px;
 display:inline-block}

.logo{ width:115px; margin: 0 auto; padding-top:1em }
.right img{ height:21px; width:21px;}
.right { position: absolute; top:0.9em ; right:1.5em}
.logo{ padding-bottom:1.5em}