*{
	margin: 0;
	padding: 0;
	box-sizing:border-box;

}
body{
	font-size: 62.5%;
	font-family:"微软雅黑";

}
.clearfix:before,
.clearfix:after{
	content: " "; 
	display: table;
	clear: both;
}
#top{ width:100%; height:7.25em; background-color: #FFF; border-bottom:solid 1px #CCCCCC}

.top1 { position:absolute ; top:1.5em; left:2%; }
.icon-reorder{ font-size:4.5em; color: #0cbbef;}


.top2{ position:absolute; top:1em ; right:2%}