.boss{ width: 500px; height: 200px;  border-radius: 50%50%;background-color:blue;transition:all 5s; }

.boss:hover{ transform:rotate(500deg) translate(100px,100px) } /*rotate旋转的意思，旋转需要移动的translata位移,transition all 秒数过度，延长方块*/