*{margin: 0 ; padding: 0}
.blue{ float: left;
width:300px; 
height: 100em; 
background-color:yellow ;
transition: all 2s; }
.blue.red{float: left;
width: 10px; 
height:100em;  
background-color:purple;
}
body{overflow:hidden}
#l{ margin-left: 200px;}