*{font: 12px Arial, Helvetica, sans-serif;
	
	box-sizing:border-box;
}

*{ margin:0; padding:0;box-sizing: border-box;}
body{
	font-size: 62.5%;
}
.clearfix:before,
.clearfix:after{
	content: " "; 
	display: table;
	clear: both;
}
h1{
	font-weight: normal;
}


.box{ 
background: url(../images/bg.gif) top center repeat;


}
.main{ margin:0 auto;
 width:960px;}
 .logo img{padding: 40px 39px 30px;
 float:left
	}
	 .logo{ height:116px;}
	 .tright { float:right}
	 .tright .p1{ padding-right:35px;
	 padding-top:41px;
	     color: #6b716f}
	.p2 { padding-top:10px;    text-align: right;padding-right:35px;color: white;}
	 
	 .nav{ height:59px; background:#FFF}
	  .nav li{ float:left;
	  list-style:none;
	  width:190px;
	  box-sizing:border-box;
	  text-align:center;
	  line-height:39px;
	  font-size:14px;
	      margin: 10px 0;
	  border-right:solid 1px #f2f2f2;
	  }
	  .nav .Last{ box-sizing:border-box;}
	  .nav ul li a{ text-decoration:none;
	  color: #000}
	 .nav ul li a:hover{ color: #f6c658;}  
	 .hei{ background:#000;
	 height:10px;
	 }
	 .tec{ height:434px;
	 background:#FFF}
	
	 .mainl{ width:560px;
	
	 float:left;
	
	 margin-top:27px;
	 margin-left:40px
	 
	 }
	 .bt img{ float:left; padding-right:18px;}
	 .bt h2{ line-height:24px;
	 font-size:18px;
	}
	.banner{	margin-top:18px;}
	.banner img{ float:left;
	margin-right:20px;

	}
	  .banner b{font-family: Arial;
	      font-weight: bold;
    color: black}  
	 .banner p{line-height: 24px;
	  color:#5e6f6f; margin-bottom:5px;}
.banner a{ color:#f3b21d}	
.bannel{margin-top:29px;
}  
	.bannel img{ width:192px;
	height:154px;
	float:left;
	margin-right:20px;
	}
	.bannel b{ font-weight:bold;
	font-family: Arial;
	color:#000;
	
	}
	.bannel p{line-height: 24px;
	  color:#5e6f6f; margin-bottom:5px;}
	  .bannel a{ color:#f3b21d}	
	  
	  .bannel a:hover{ text-decoration:none} 
	    .banner a:hover{ text-decoration:none} 
	  
	 .mright{ width:300px;
height:414px;
background: #12110f;
float:right;
margin-right:10px;

}
.mright p{ font-size:18px;
padding:29px 0px 0px 31px;
color: white
}
.mright ul li{font-size:13px;
color: #5e6f6f;

	    font-family: Arial;
		list-style:none;
		line-height:23px;
	

	
	}
	
.mright ul{ padding-right:29px; padding-left:30px;
padding-top:25px;
}	
	.dm{
		 border: 1px solid #2a2824;
		 height:23px;
		 background:#000;
		 width:140px;
		 float:right;

	

	
	}
	.fr{ margin-top:7px;}
	#select{width: 140px;

    float: right;
    border: 1px solid #2a2824;
    color: white;
    background-color: #000;
    text-align: center; height:23px;}
	
	#cond{width: 44px;
 
    float: right;
    border: 1px solid #2a2824;
    color: white;
    background-color: #000;
    text-align: center;
	margin-left: 4px; height:23px;
	}
	
	
		.an{float: right;
    width:66px;
    height: 29px;
    background-color: #ffffff;
    border: 0;
    color: #12110f;margin-right:28px;
	margin-top:10px;}
	
	.tj{float: right;
    width: 66px;
    height: 29px;
    background-color: #ffffff;
    border: 0;
    color: #12110f;
	margin-right:4px;
	margin-top:10px;
	}
.mright span{font-size:13px;
color: #5e6f6f;
 font-family: Arial;
		list-style:none;

		padding-top:10px;
		padding-left:30px;
		display:inline-block
		
		
		}
		.text{ margin-left:30px;
		width:241px;
		height:65px;
		margin-top:10px;
		    background-color: #12110f;
			border: 1px solid #2a2824;}
			
	
	
	
	.content{ 
	height:405px;
	background:#12110f;
	}		



.zyra { width:600px;
height:348px;
padding-top:20px;
padding-left:40px;
padding-bottom:38px;



}
.zyra h2{ float:left;
margin-top:8px;
font-size:20px;
color:#ffffff;
margin-bottom:24px;
float:left

}	
.zyra b{ float:left;
color:#FFF;
line-height:20px;
}
			
.zyra p{ float:left;
line-height:20px;
color:#72716f}			
			
.zyra .cst { float:left;
list-style:none;
margin-top:21px;
}			
			
.zyra .arly { float:left;
list-style:none;
margin-left:82px;
margin-top:21px;

}			
			
.zyra li{line-height:20px;
}			
.zyra ul li a{color:#cfa21d}
.zyra a:hover{ text-decoration:none}
.zzan{ background:#FFF;
text-align:center;
width:110px;
height:29px;
float:left;
margin-top:29px
}
.zzan a{ line-height:29px;
color:#000;
text-decoration:none;

} 
.zzan:hover{ background:#666}



.rbot{ width:320px;
height:347px;

float: right;
border-left:solid 1px #666666;
margin-top:20px;}
.rbot h2{ font-size:20px;

margin-left:39px;
color:#FFF}


.left img { width:100px;
height:110px;
margin-left: 39px;
float:left;
margin-top:18px;}
.left b{ color:#FFF;
float:left;
margin-top:18px;
margin-left:20px;

}
.left p{
	margin-top:18px; float:left;
margin-left:20px;
line-height:20px;
color: #999

}
.right img{ width:100px;
height:110px;
margin-left: 39px;
float:left;
margin-top:18px;}

.right b{ color:#FFF;
float:left;
margin-top:18px;
margin-left:20px;

}



.right p{
	margin-top:18px; float:left;
margin-left:20px;
line-height:20px;
color: #999

}




















.footer{
		width:100%;
		background:#000;
		
	
	
	
	}
	
	
	.fmain{ width:960px;
	
	
	    padding: 47px 30px 47px 40px;
		margin: 0 auto;
		
		height:203px;}
		.boot{ 	
	
		float:left
		
		}
	.boot  p{ color: #72716f;
    text-decoration: underline;
width:355px;
  
	}	   
	.boot  ul{ margin-top:12px;
	height:15px;
	width:434px;
	
	}
	.boot a{color: #72716f;}
	.boot a:hover{ text-decoration:none}

			.rmain { height:29px;
				float:left;
			width:250px;
			 margin-left:206px;}
		.rmain li{ float:left;
		margin-right:11px;
		list-style:none;
	
		
		 }
	.z{ float:left;
		color: #72716f;
		list-style:none;
		margin-right:24px;
		padding-right:24px;
		border-right:solid 1px #666666}
		.x{ float:left;
		color: #72716f;
		list-style:none;
		}
	.press{ width:109px;
	height:28px;
	background:#FFF;
	text-align:center;
	}
	.press a{ line-height:29px;}
	.press:hover{ background:#666}