*{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
}
body{
	font-size: 62.5%;
font-family: Arial;
}
.clearfix:before,
.clearfix:after{
	content: " "; 
	display: table;
	clear: both;
}

.bg{
	position: fixed;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: -9999;
}
.bg img{
	width: 100%;
	transition: all .4s ease-in-out;
	opacity: 0;
	display: block;
	position: absolute;
	left: 0;
	top: 0;

}
.bg .visible{
	opacity: 1;
}

.header-top{
	width: 100%;
	height: 128px;
	background-color: black;
	opacity: .9;
}
.header-big{
	width: 980px;
	height: 124px;
	margin: 0 auto;
	position: relative;
}
.logo{
	position: absolute;
	top: 50%;
	margin-top: -34.5px;
	
}
.header-big span{
	color: white;
	font-size: 20px;
	float: right;
	line-height: 124px;
	margin-right: 2px;
}
.btn-num{
	float: right;
	padding-top: 44.5px;
	padding-right: 40px;
}
.btn-num img{
	padding-left: 5px;
	cursor: pointer;
}

nav{
	width: 100%;
	height: 60px;
	border: 1px solid white;
	background: url(../images/navbg.png) repeat;
}
nav ul{
	width: 980px;
	margin: 0 auto;
	list-style: none;
}
nav ul li{
	float: left;
	line-height: 58px;
	padding: 0 40px;
	font-size: 18px;
	border-left: 1px solid white;
	border-right: 1px solid #e1e1e1;
}
nav ul li a{
	text-decoration: none;
	color: black;
	font-weight: bold;
	font-family: Calisto MT;
	font-size:18px;
}
nav ul li a:hover{
	color: #ca4b00;
}
nav ul li:nth-of-type(6) a{
	color: #ca4b00;
}
.navline-left{
	width: 1px;
	height: 100%;
	background-color: #e1e1e1;
	display: inline-block;
}
.navline-right{
	width: 1px;
	height: 100%;
	background-color: white;
	display: inline-block;
}
nav ul li:nth-child(1){
	border-left: none;
	width: 1px;
	height: 58px;
	padding: 0;
}
nav ul li:last-child{
	border-right: none;
	width: 1px;
	height: 58px;
	padding: 0;
}

/*************header-end************/
.main{
	 width:980px;
margin:0 auto;
background-color: rgba(255,255,255, 0.9);
margin-top:18px;
}



.main_c{
	float:left;width:640px;
background:#FFF;
margin:40px 0 0 20px;

}

.hot h1{font-family: Calisto MT;
    font-weight: normal;
    font-size: 28px;
	padding-top:18px;
	padding-left:20px}
	.ing strong{   
    font-size: 14px;
    font-weight: bold;
    line-height: 23px
	;}

.ing{ float:left;
width:660px;
margin-top:20px}
	.ing img{ float:left;
	padding-right:20px;}


.ing p{ font-size:14px;
line-height:23px;}
.zzh{    width: 134px;
    height: 38px;
    background: url(../images/btn_bg.png);
    position: absolute;
    text-align: center;
    line-height: 38px;
    color: white;
    font-size: 18px;
	float: left;

    margin-top: 12px}

.mb strong{   
    font-size: 14px;
    font-weight: bold;
    line-height: 23px
	;}







.mb{ float:left;
width:660px;
margin-top:30px}
	.mb img{ float:left;
	padding-right:20px;}


.mb p{ font-size:14px;
line-height:23px;}
.zzh{    width: 134px;
    height: 38px;
    background: url(../images/btn_bg.png);
    position: absolute;
    text-align: center;
    line-height: 38px;
    color: white;
    font-size: 18px;
	float: left;

    margin-top: 12px}




.pop{ margin-bottom:48px;}

.pop strong{   
    font-size: 14px;
    font-weight: bold;
    line-height: 23px
	;}

.pop{ float:left;
width:660px;
margin-top:20px}
	.pop img{ float:left;
	padding-right:20px;}


.pop p{ font-size:14px;
line-height:23px;
}



.main-right{
	width: 280px;
	padding: 18px 0 0 20px;
	float: left;
	margin-top:40px
}
.main-right h1{font-family: Calisto MT;
font-size:28px;
    font-weight: normal;}

.main-right-dv{
	margin-top: 20px;
	padding-top: 20px;
	border-top: 1px solid #d4d1cb;
}
.main-right-dv p{ font-size:14px;
line-height:23px}
.main-right-dv strong{ font-size:14px;
line-height:23px
}

.main-right-pic{
	width: 100%;
	height: 178px;
	overflow: hidden;
	position: relative;
	margin-top: 10px;
}
.main-right-dv img{
	height: 135%;
	position: absolute;
	bottom: -30px;
	right: 0;
}

.main-right ul{
	line-height: 23px;
	margin-top: 20px;
	list-style-image: url(../images/ul_list.png);
	margin-left: 19px;
	white-space:nowrap;
}
.main-right ul a{
	color: black;
	font-family: Arial;
	font-size:14px;
}






































































/*************main-end************/


footer{
	height: 105px;
	width: 100%;
	background-color: rgba(0,0,0,.9);
	margin: 20px 0 18px 0;
}
.footerdv{
	width: 980px;
	height: 100%;
	padding: 27px 39px 0 41px;
	margin: 0 auto;
}
.footerdv_left span{
	color: #ca4b00;
}
.footerdv_left{
	width: 280px;
	float: left;
	color: white;
	line-height: 22px;
	font-family: Arial;
}
.footerdv_right{
	float: right;
}
.footerdv_right img{
	float: right;
	padding-left: 5px;

}
.footerdv_right span{
	float: right;
	line-height: 35px;
	color: white;
	font-size: 18px;
	margin-right: 20px;
}