*{ margin: 0; padding: 0;}

nav{ width: 40%;
 height: 5em; 
 background-color: #FF4500;
text-align: center;
display: none;
box-sizing:border-box;
float: right;
line-height: 5em;

}
nav a{color: #fff;
	text-decoration: none;
	display: block; 
	float: left;
	padding:10px;
	margin-left: 60px;
}
menu{
	width: 30%;
	height: 15em;
	background-color: #CAFF70; 
	line-height: 5em;

}
menu a{
	color: #050505;
	text-decoration: none;
	display: block;
	width: 100%;
	text-align: center;
}
@media (min-width: 500px) {
	menu{
		display: none;
	}
	nav{
		display: block;
	}
}