
*{margin:0;padding:0;}


ul , ol , ul li , li , ol li{list-style:none;}

q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}



body,textarea,input,button,select,keygen,legend{font-family:"Microsoft YaHei",\5fae\8f6f\96c5\9ed1,arial,\5b8b\4f53; font-size:12px;color:#444 ;outline:0;}
body{background:#fff;color:#444;}
a{color:#444; border: none; text-decoration: none;outline:none;  hide-focus: expression(this.hideFocus=true); }
a:focus{outline: 0;-moz-outline-style: none;}

img{overflow: hidden;border: 0 none;}
button,input,select,textarea{font-size:100%;font-family:tahoma;margin: 0;outline: 0 none;vertical-align: baseline;_overflow:visible;*vertical-align: middle;*overflow:visible;}

.fl{float: left;}
.fr{float: right;}
.f_ib{disfy:inline-block;*display:inline;*zoom:1;}
.f_oh{overflow:hidden;zoom:1;}
.clearfix:after{clear:both;display:block;height:0;font-size:0;content:".";visibility:hidden;}

.sec_ft{color: #42b1b5;}
.f_ffa{font-family:'SimSun';}
.f_ffy{font-family:"Microsoft YaHei",\5fae\8f6f\96c5\9ed1,arial,\5b8b\4f53;}

.of_hide{overflow: hidden;}
.tx_c{text-align: center}
.cl{clear: both;}
.pr{position: relative;}
.pa{position: absolute;}
.dp_block{display: block;
margin-top:30px;}
.dp_inlin_block{display: inline-block;}
.bor_n{border:none }
.cl{clear: both;}
.tx_r{text-align: right;}
.fwb{font-weight:blod;}
.vm{vertical-align: middle;}
.img-box-x img{width: 100%;}

/*index*/
.top_box{min-width: 960px;height: 113px;background: url(../images/yop_bg.png) ;}
.top_nr{width: 960px;margin:0 auto;}
.logo{line-height: 113px;}
.top_list {line-height: 113px;}
.top_list li a{line-height: 18px;padding: 18px;font-size: 18px;font-weight: bold;border-right: 1px solid #fff;height: 18px;border-radius: 5px;}
.curr_page,.top_list li a:hover{background: #fff;color: #2ab5ba;}
.main_box{background: url(../images/main_bg.png);min-width: 960px;}
.main_nr{width: 960px;margin: 0 auto;overflow: hidden;}
.swiper-container{border-radius: 10px;}
.swiper-pagination-bullet{background: #fff;opacity: 0.8;width: 20px;height: 20px;border: 2px solid #fff;}
.swiper-pagination-bullet-active{background: #42b1b5;opacity: 1;}
.banner{margin-top: 50px;padding-bottom: 52px;background: url(../images/yy.png) no-repeat center bottom;}
.left_tx_box{width: 635px;}
.wel{font-size: 40px;font-weight: bold;}
.txlis_ty{word-break: break-all;line-height: 
25px;font-size:14px;
margin-top: 26px;
}
.txlis_ty a{ color:#00add0;}
.pla{font-size: 24px;font-weight: bold;margin-top:70px;}
.pla_cont{width:370px;}
.pla_qz{ color:#42b1b5;font-weight: bold;width: 5%;font-size: 20px;margin-top: -3px;
float:left}
.pla_cont .txlis_ty{margin: 0; float: left;
display:inline-block;
width:285px
}

.pla_tx_lis{margin-top: 17px;
}
.all_se {color: #42b1b5;
text-decoration: underline;
font-size: 15px;
margin-top:20px;}
.all_p{margin: 40px 0 0 13px;}
.place{margin-bottom: 60px;
float: left
}
.right_tx_box{width: 285px;}
.tell{margin-top: 69px;}
.last_news .pla{font-size: 28px;}
.news_date{font-size: 15px;color: #42b1b5;padding: 15px 0 0;}
.last_news .all_se{margin: 27px 0 0 0;}
.fot{height: 160px;background: url(../images/yop_bg.png);border-top: 1px solid #fff;min-width: 960px;}
.fot_nr{width: 960px;margin: 0 auto;}
.fot_logo{line-height: 160px;width: 200px;
float:left}
.fot_logo img{width: 100%;}
.fot_cen{ width:410px;font-size: 14px;margin-left:20px;line-height: 30px;vertical-align: middle;border-left: 1px solid #dfdfdf;
float: left;
margin-top:50px;
padding-left:20px;}

.fot_cen a{text-decoration:underline;
color: #42b1b5;}
.fot_ri{text-align: center;margin-left: 35px;
float: right;
margin-top:50px;}
.fot_ico_tx{text-align: center;margin-top: 10px;}



/*SERVICE*/
.ser_ft{margin-top: 26px;
color: #42b1b5;
float:left}

.sb{ float:left;
margin-right:20px;}
.ser_tx .ser_ft{margin-top: 0;}

.ri_ser_ft{margin-top: 0;}

.gq{ float:left;
margin-right:20px;}
.our_ser .txlis_ty{line-height: 22px;}

.ctr{text-align: right;}
.ctr a{font-size: 15px;margin: 0 10px;}
.ser_tw_box{ margin-top:20px;
float:left}
.pc{ float:left}
.text{ width:380px;

    line-height: 25px;
    font-size: 14px;
  color: #42b1b5;
}
.ty{    line-height: 25px;
    font-size: 14px;
	width:410px;
	float:left}
	.sec{ margin-top:20px;}
	.dy{ float:left;
	width:380px;}
	.dly{ width: 380px;
    line-height: 25px;
    font-size: 14px;
    color: #42b1b5;}
	.jy{    line-height: 25px;
    font-size: 14px;
	}